<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <style>
        *{
            margin:0px;
            padding:0px;
            background-color:cyan;
        }
        button, a{
            margin:5px;
            padding:10px;
            text-decoration:none;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Welcome to Admin Panel</h1><br>
    <button type="button" id="addNewAdminBtn">Add Admin</button><br>
    <a href="/html/admin/showAllUsers.html">Show All Users</a><br>
    <button type="button" id="showAllAdminsBtn">Show All Admins</button>

    <script src="/js/admin.js"></script>
</body>
</html>